{% extends 'base.html' %}
{% block body %}
<button type="button" class="btn btn-outline-primary" onclick="CreateRoom()">Create Room</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script>
var socket = io();
socket.on('Join Room', function(roomId) {
	window.location.href = "/rooms/" + roomId;
	document.cookie = "roomId=" + roomId + "; path=/rooms"
});

function CreateRoom() {
	socket.emit('Create Room');
}
</script>
{% endblock %}