{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login_and_register.css') }}">
{% endblock %}

{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="gradiant">
			<img style="z-index: -1; position: relative; width: 100vw;" src="/static/images/Picture_of_Us.png">
		</div>
		<div class="Translucent_Black_Square">
			<p class="Welcome_to_Sync">Welcome to Sync<br>Log In</p>
			<div class="container" id="Login Form">
				<form class="needs-validation" novalidate>
					<div class="form-group">
						<input type="text" class="form-control Form_Rect Form_Text" id="usernameInput" placeholder="Username" required>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
					<div class="form-group">
						<input type="password" class="form-control Form_Rect Form_Text" id="passwordInput" placeholder="Password" required>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
					<div class="row align-items-center justify-content-center">
						<div class="form-group form-check" style="display: inline-block;">
							<input type="checkbox" class="form-check-input" id="exampleCheck1">
							<label class="form-check-label" for="exampleCheck1"></label>
						</div>
						<p style="display: inline-block; color: white; font-family: Segoe UI; font-weight: normal;">Remember me</p>
					</div>
					<button type="submit" id='submitButton' class="Rect_Continue container">
						<div class="row" style="height: inherit;">
							<div class="col-1" style="height: inherit;">
								<div class="Arrow_Circle float-right"><div class="Arrow"></div></div>
							</div>
							<div class="col-11" style="height: inherit;">Submit</div>
						</div>
					</button>
				</form>
			</div>
			<div class="container invisible" id="2FA Form">
				<form class="needs-validation" novalidate>
					<div class="form-group">
						<input type="text" class="form-control Form_Rect Form_Text" id="codeInput" placeholder="2FA Code" maxlength="6" required>
						<div class="invalid-feedback">Please fill out this field.</div>
					</div>
					<button type="submit" id='2FASubmitButton' class="Rect_Continue container">
						<div class="row" style="height: inherit;">
							<div class="col-1" style="height: inherit;">
								<div class="Arrow_Circle float-right"><div class="Arrow"></div></div>
							</div>
							<div class="col-11" style="height: inherit;">Submit</div>
						</div>
					</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="text-center" id="errorText">Username doesn't exist</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
<script>
var socket = io();
var SequenceID = null;

socket.on('login error', function(data) {
	if (data == 'password_error') {
		document.getElementById('errorText').innerHTML = "Wrong password!";
	}
	else if (data == 'username_error') {
		document.getElementById('errorText').innerHTML = "Username doesn't exist";
	}
	$('#exampleModal').modal('toggle')
});
/*socket.on('login successful', function(data) {
	window.location.href = ("/auth?username=" + data);
});*/
socket.on('Auth Successful', function(data) {
	window.location.href = ("/auth?username=" + data);
});
socket.on('Check 2FA', function(data) {
	// remove login form
	var element = document.getElementById("Login Form");
	element.remove();

	// show 2FA form
	var element = document.getElementById("2FA Form");
	element.classList.remove("invisible");
	
	SequenceID = data;
});

$(document).ready(function(){
  $("#submitButton").click(function(e){
	username = $("#usernameInput").val();
	password = $("#passwordInput").val();
	if (username != '' && password != '') {
		socket.emit('Login', {'username': username, 'password': password, 'remember': $('#exampleCheck1').is(':checked')});
		e.preventDefault();
	}
  });
  $("#2FASubmitButton").click(function(e){
	authCode = $("#codeInput").val();
	if (authCode != '') {
		socket.emit('Send 2FA Code', {'SequenceID': SequenceID, 'Code': authCode});
		e.preventDefault();
	}
  });
});

/*
(function() {
  'use strict';
  window.addEventListener('load', function() {
    // Get the forms we want to add validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }
        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
*/

// JavaScript for disabling form submissions if there are invalid fields
(function () {
  'use strict'

  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')

  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }

        form.classList.add('was-validated')
      }, false)
    })
})()
</script>
{% endblock %}